<h1>Todas as Receitas</h1>
<div class="items">
  {{#each receitas}}
    <div class="item">
      <h3>{{this.nome}}</h3>
      <img src="/img/receita/{{this.imagem}}" alt="{{this.nome}}">
      <p>Descrição: {{this.descricao}}</p>
      <div class="actions">
        <a href="/receitas/{{this._id}}" class="button">Detalhes</a>
        <a href="/receitas/edit/{{this._id}}" class="button">Editar</a>
      </div>
    </div>
  {{/each}}
</div>